header.clearfix
  .container
    .header-left
      h3 {{ '@innotec/ngx-i18n' | i18n_translate }}
    .header-right
      label(for='open')
        span.hidden-desktop
      input#open(type='checkbox', name='')

        
